@(formcontractbill: Form[models.TablesExtend.ContractBillRow], customerList: Seq[(String, String)])(implicit messages: Messages)

@import helper._
@import play.api.i18n.Messages
@import utilities._
@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@if(formcontractbill.hasErrors) {
<div class="form-group">
    <div class="alert alert-danger col-lg-6 text-center">
       @for(error <- formcontractbill.errors){
         @error<br />
       }
   </div>
</div>
}
	@b4.select( formcontractbill("customerId"), options = customerList, '_label -> "顧客" )
	@b4.select( formcontractbill("status"), options = utilities.ViewHelper.makeOptionSeq(utilities.contract.Status.statusSeq, "view.contract.status", messages), '_label -> "ステータス" )
 	@b4.textarea( formcontractbill("comment"), '_label -> "説明", 'rows -> 3)
	@b4.date( formcontractbill("contractDate"),'_label -> "契約日")
	@b4.date( formcontractbill("cancelDate"),'_label -> "解約日")
	@b4.text( formcontractbill("bill.billName"), '_label -> "請求先名前", 'placeholder -> "山田太郎" )
	@b4.email( formcontractbill("bill.billEmail"), '_label -> "請求先メール", 'placeholder -> "example@mail.com" )
	@b4.text( formcontractbill("bill.billTel"), '_label -> "請求先電話番号", 'placeholder -> "02-2333-3333" )
	@b4.text( formcontractbill("bill.billAddress"), '_label -> "請求先住所", 'placeholder -> "東京都千代田区" )
	@*@b4.select( formcustomer("notificationPeriod"), options = Seq("1" -> "1分前", "10" -> "10分前", "15" -> "15分前", "20" -> "20分前", "25" -> "25分前", "30" -> "30分前", "45" -> "45分前", "60" -> "1時間前"), '_label -> "通知時間") *@
  
  
