@(message: String, formcontractbillsearch: Form[models.TablesExtend.ContractBillSearchRow], customerList: Seq[(String, String)])(implicit messages: Messages,request: RequestHeader)
@import helper._
@implicitFC = @{ b4.vertical.fieldConstructor }
	

@main("一覧画面") {
        <h1>一覧画面</h1>
    <p>@message</p>
       <div class="row">
            <div class="col-md-10 col-md-offset-1">
    @b4.form(action=admin.routes.ContractController.index(1)) {
		@views.html.contract.searchform(formcontractbillsearch,customerList)
		<div class="col-md-10">
		@b4.submit('class -> "btn btn-primary"){検索}
		</div>
        @CSRF.formField
    }
    </div>
    </div>
        <div class="text-center">
    <div class="text-center">
         <p><a href="@admin.routes.ContractController.add" class="btn btn-success">新規登録</a></p>
        </div>
    </div>


}