@(formoauthclientsearch: Form[models.TablesExtend.OauthClientSearchRow], oauthUserList: Seq[(String, String)])(implicit messages: Messages)

@import helper._
@import play.api.i18n.Messages
@import utilities._
@implicitFC = @{ b4.vertical.fieldConstructor }
@{val customeurl = "data-uri"}



@if(formoauthclientsearch.hasErrors) {
<div class="form-group">
    <div class="alert alert-danger col-lg-6 text-center">
       @for(error <- formoauthclientsearch.errors){
         @error<br />
       }
   </div>
</div>
}
<div class="row">
<div class="col-md-6">
	@b4.select( formoauthclientsearch("oauthUserId"), options = Seq("" -> "") ++ oauthUserList, '_label -> "アプリケーションリスト" )
</div>
<div class="col-md-6">
	@b4.text( formoauthclientsearch("oauthUserName"),'_label -> "アプリケーション名", 'class -> "autocomplete", Symbol("data-uri") -> admin.routes.OauthUserController.nameautocomplete("") )
</div>
</div>
  
