@(message: String, form1: Form[models.TablesExtend.AccountRow])(implicit messages: Messages,request: RequestHeader)

@import helper._
@import play.api.i18n.Messages

@form1.errors.foreach { error =>
  <div>@error.message</div>
}

@main("登録画面") {

    <h1>登録画面</h1>
    <p>@message</p>

    @helper.form(action=admin.routes.AccountController.create) {
    	@CSRF.formField
		@views.html.account.form(form1)

        <button>登録</button>
    }

   <p><a href="/account">[一覧]</a></p>
    <p><a href="/">[HOME]</a></p>
}
