@(message: String, oauthusers: List[models.TablesExtend.OauthUserRow])(implicit messages: Messages,request: RequestHeader)
@import helper._
@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-4") }

@main("一覧画面") {

         <table class="table table-striped table-hover ">
  
            <tr class="info">
                <th>名前</th>
                  <th></th>
                 <th></th>
            </tr>
    @for(oauthuser <- oauthusers) {
	        <tr>
	                <td>@oauthuser.name</td>
	        <td><a href="@admin.routes.OauthUserController.edit(oauthuser.guid.toString)" class="btn btn-link">編集</a></td>
	        <td>@b4.form(action=admin.routes.OauthUserController.delete(oauthuser.guid.toString)) {
	        	@CSRF.formField 
	        	@b4.submit('class -> "btn btn-link"){削除}}
	        	</td>
          </tr>
    }
 		</table>
        <div class="text-center">
    <div class="text-center">
         <p><a href="@admin.routes.OauthUserController.add" class="btn btn-success">新規登録</a></p>
        </div>
    </div>
 
 }