@(message: String, form1: Form[models.TablesExtend.OauthUserRow])(implicit messages: Messages,request: RequestHeader)

@import helper._
@import play.api.i18n.Messages
@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-4") }

@form1.errors.foreach { error =>
  <div>@error.message</div>
}

@main("登録画面") {

 
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登録画面</h3>
                    </div>
    <p>@message</p>

    @b4.form(action=admin.routes.OauthUserController.create) {
    	@CSRF.formField
		@views.html.oauthuser.form(form1)
		@b4.submit('class -> "btn btn-primary"){登録}

    }

    </div>
    <p><a href="@admin.routes.OauthUserController.index" class="btn btn-link">一覧</a></p>
    </div>
    </div>
 
}
