@(message: String, cache: play.api.cache.CacheApi)(implicit messages: Messages,request: RequestHeader)
@import helper._
@import utilities._
@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("編集画面") {
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">確認画面</h3>
                    </div>

    <p>@message</p>

    @defining(cache.get[models.TablesExtend.CustomerRow](utilities.config.FormConfig.FormCacheKey + "-customeredit-" + request.session.get("uuid")).getOrElse(null)) { customer =>
    	
    	@cache.set(utilities.config.FormConfig.FormCacheKey + "-customeredit-" + request.session.get("uuid"), customer, utilities.config.FormConfig.FormCacheTime)
    	<div class="row">
	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">名前</h3>
	  			</div>
	  			<div class="panel-body">
	    			@customer.name
	  			</div>
			</div>
 	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">メール</h3>
	  			</div>
	  			<div class="panel-body">
	    			@customer.email
	  			</div>
			</div>
 	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">電話番号</h3>
	  			</div>
	  			<div class="panel-body">
	    			@customer.tel
	  			</div>
			</div>
 	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">住所</h3>
	  			</div>
	  			<div class="panel-body">
	    			@customer.address
	  			</div>
			</div>
 	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">日時</h3>
	  			</div>
	  			<div class="panel-body">
	    			@customer.actionDate
	  			</div>
			</div>
 	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">通知時間</h3>
	  			</div>
	  			<div class="panel-body">
	    			@customer.notificationPeriod
	  			</div>
			</div>
 	    	<div class="panel panel-success">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">説明</h3>
	  			</div>
	  			<div class="panel-body">
	    			@Html(utilities.ViewHelper.nl2br(customer.comment))
	  			</div>
			</div>
	        <div class="row">
	       	@b4.form(action=admin.routes.CustomerController.editadvanceback) {
		        @CSRF.formField
		        <div class="col-xs-2 bg-info">@b4.submit('class -> "btn btn-info"){戻る}</div>
		    }
	        @b4.form(action=admin.routes.CustomerController.updateadvance) {
		        @CSRF.formField
		        <div class="col-xs-2 bg-info">@b4.submit('class -> "btn btn-primary"){更新}</div>
		    }
	 	    </div>
    }

    <p><a href="/customer"c lass="btn btn-link">一覧</a></p>
    </div>
  </div>
</div>
}