@(message: String, form1: Form[models.TablesExtend.CustomerRow])(implicit messages: Messages,request: RequestHeader)
@import helper._
@implicitFC = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-4") }


@main("編集画面") {

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">編集画面</h3>
                    </div>
    <p>@message</p>

    @b4.form(action=admin.routes.CustomerController.editadvanceconfirm) {
        <input type="hidden" name="id" value="@form1("id").value">
        @CSRF.formField
		@views.html.customer.form(form1)
		@b4.submit('class -> "btn btn-primary"){確認}
    }

    </div>
    <p><a href="/customer"c lass="btn btn-link">一覧</a></p>
    </div>
    </div>
}