@(message: String, customers: List[models.TablesExtend.CustomerRow], page: utilities.PageNation[_])(implicit messages: Messages,request: RequestHeader)

@main("一覧画面") {
        <h1>一覧画面</h1>
    <p>@message</p>
    <div class="text-center">
    @views.html.customer.pageNation(page, "")
    </div>

        <table class="table table-striped table-hover ">
  
            <tr class="info">
                <th>名前</th>
                <th>メール</th>
                <th>住所</th>
                <th>日時</th>
                <th></th>
                 <th></th>
                 <th></th>
            </tr>
    @for(customer <- customers) {
	        <tr>
	                <td>@customer.name</td>
	                <td>@customer.email</td>
	                <td>@customer.address</td>
	                <td>@utilities.ViewHelper.dateFormat(customer.actionDate, "%tY/%<tm/%<td %<tH:%<tM:%<tS")</td>
	        <td><a href="@admin.routes.CustomerController.edit(customer.id)">[編集]</a></td>
	        <td><a href="@admin.routes.CustomerController.editadvance(customer.id)">[確認あり編集]</a></td>
	        <td><a href="@admin.routes.CustomerController.delete(customer.id)">[削除]</a></td>
          </tr>
    }
 		</table>
        <div class="text-center">
    <div class="text-center">
    @views.html.customer.pageNation(page, "")
         <p><a href="@admin.routes.CustomerController.add" class="btn btn-success">新規登録</a></p>
        </div>
    </div>


}